<!DOCTYPE html>
<html lang="en">

<head>
    <title>Analysis Tool</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>


    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

    <style>
        th,
        td {
            white-space: nowrap;
        }

        div.dataTables_wrapper {
            width: 1200px;
            margin: 0 auto;
        }

        tr {
            height: 20px;
        }
    </style>

</head>

<body>

    <div class="container-fluid">


        <section>
            <div id='myDiv'>
                <!-- Plotly chart will be drawn inside this DIV -->
            </div>

        </section>

        <section class="mt-2">
            <form class="form-group" method="post" action="/uploadfile" enctype="multipart/form-data">
                <div class="row">

                    <div class="col-6">
                        <div class="custom-file">
                            <input type="file" name="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>

            </form>

        </section>
        <section class="mt-5">
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        {% for column in columns %}
                        <th class="">{{ column }}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>
                    <tr>
                        {% for column in columns %}
                        <th class="">{{ column }}
                        </th>
                        {% endfor %}
                    </tr>
                </tfoot>
            </table>
        </section>
    </div>


    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                "scrollY": 400,
                "scrollX": true,
                "processing": true,
                "serverSide": true,
                "pageLength": 100,
                "ajax": {
                    "url": "{{ url_data }}",
                    "data": function (d) {
                    }
                }
            });
        });


        var data = [
            {
                x: ['giraffes', 'orangutans', 'monkeys'],
                y: [20, 14, 23],
                type: 'bar'
            }
        ];

        // Plotly.newPlot('myDiv', data);

    </script>

</body>

</html>